.bg-light {
    background-color: #05669e!important;
}

/* .navbar-light .navbar-brand {
    color: #5395d8;
} */

.navbar-light .navbar-brand {
    color: #082441;
} 

.navbar-light .navbar-nav .nav-link {
    color: #eef2f7;
}

/* .navbar-light .navbar-nav .hover {
    color: #ff8138
} */

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #082441;
    background-color: #eef2f7;
    margin-top: 1;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
}